[submodule "dev"]
	path = dev
	url = git@github-personal:spuggle/dotfiles-programming.git
[submodule ".config/heroic/themes/catppuccin"]
	path = .config/heroic/themes/catppuccin
	url = https://github.com/catppuccin/heroic.git
