[submodule "dev"]
	path = dev
	url = git@github-personal:spuggle/dotfiles-programming.git
[submodule ".config/heroic/themes/catppuccin"]
	path = .config/heroic/themes/catppuccin
	url = https://github.com/catppuccin/heroic.git
[submodule ".local/share/backgrounds/walls-catppuccin-mocha"]
	path = .local/share/backgrounds/walls-catppuccin-mocha
	url = https://github.com/orangci/walls-catppuccin-mocha.git
[submodule ".local/sources/rivalcfg"]
	path = .local/sources/rivalcfg
	url = https://github.com/flozz/rivalcfg.git
